body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  padding:24px 2px 2px 16px;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u121_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  padding:24px 2px 2px 16px;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u121_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  padding:24px 2px 2px 16px;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:400px;
  width:1200px;
  height:64px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:24px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u121_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(48, 48, 48, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121.focused {
}
#u121_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121.disabled {
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  line-height:20px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:410px;
  width:101px;
  height:20px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
  line-height:20px;
}
#u122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:420px;
  width:24px;
  height:24px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#303030;
  line-height:28px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:418px;
  width:130px;
  height:28px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#303030;
  line-height:28px;
}
#u124 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
