body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Ivy Mode', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#303030;
  line-height:42px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:238px;
  width:107px;
  height:42px;
  display:flex;
  font-family:'Ivy Mode', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#303030;
  line-height:42px;
}
#u86 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  padding:2px 2px 2px 24px;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#303030;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  padding:2px 2px 2px 24px;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#303030;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  padding:2px 2px 2px 24px;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  letter-spacing:normal;
  color:#303030;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:99px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303030;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:304px;
  width:1200px;
  height:64px;
  display:flex;
  color:#303030;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u87_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(48, 48, 48, 1);
  border-radius:99px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303030;
}
#u87.focused {
}
#u87_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-radius:99px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#303030;
}
#u87.disabled {
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:324px;
  width:24px;
  height:24px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:1512px;
  top:324px;
  width:24px;
  height:24px;
  display:flex;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 8px 24px rgba(48, 48, 48, 0.156862745098039);
  -webkit-box-shadow:0px 8px 24px rgba(48, 48, 48, 0.156862745098039);
  box-shadow:0px 8px 24px rgba(48, 48, 48, 0.156862745098039);
}
#u91 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:376px;
  width:1200px;
  height:336px;
  display:flex;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(246, 246, 245, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  display:flex;
}
.u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u94_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(246, 246, 245, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u94.mouseOver {
}
.u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u95 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:395px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u95 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  text-align:right;
  line-height:24px;
}
.u96 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:20px;
  width:76px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  text-align:right;
  line-height:24px;
}
.u96 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
  line-height:24px;
}
.u97 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:32px;
  width:83px;
  height:24px;
  display:flex;
  opacity:0;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
  line-height:24px;
}
.u97 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
  line-height:24px;
}
.u98 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:32px;
  width:82px;
  height:24px;
  display:flex;
  opacity:0;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
  line-height:24px;
}
.u98 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
  line-height:24px;
}
.u99 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:32px;
  width:114px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#AAAAAA;
  line-height:24px;
}
.u99 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
}
#u92-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1200px;
  height:64px;
}
#u92-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:1200px;
  height:64px;
}
#u92-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:1200px;
  height:64px;
}
#u92-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:1200px;
  height:64px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:384px;
  width:1200px;
  height:320px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:80px;
  display:flex;
}
.u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u103 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:18px;
  width:395px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u104 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:28px;
  width:123px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u105 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:28px;
  width:137px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u106 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:28px;
  width:108px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
.u106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u107 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:28px;
  width:24px;
  height:24px;
  display:flex;
}
.u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  line-height:20px;
}
.u108 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:42px;
  width:123px;
  height:20px;
  display:flex;
  font-family:'GT Walsheim Pro', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  line-height:20px;
}
.u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:464px;
  width:1200px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:64px;
  background:inherit;
  background-color:rgba(246, 246, 245, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:400px;
  width:1200px;
  height:64px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:420px;
  width:42px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:420px;
  width:37px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:420px;
  width:16px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1311px;
  top:420px;
  width:70px;
  height:24px;
  display:flex;
  font-family:'GT Walsheim Pro Medium', 'GT Walsheim Pro Regular', 'GT Walsheim Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#303030;
  line-height:24px;
}
#u114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
